*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color:  rgb(255, 255, 255);
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    


}
.cursor{
    height: 20px;
    width: 20px;
    border-radius:50%;
    background-color:rgb(255, 255, 255);
    mix-blend-mode:difference ;
    position: absolute;
    /* transition: all linear 0.2s; */

}
h1{
    font-size: 5vw;
    font-weight: 900;
}
